<main>
  <div class="header">
    <h1>
      نظام إدارة المتطوعين <span>بالهلال الأحمر الليبي </span> فرع اجدابيا
    </h1>
  </div>
  <div class="login-container">
    <div class="image">
      <img src="/images/auth-background.jpg" alt="" />
    </div>
    <div class="controlers">
      <div class="controle">
        <label for="username">اسم المستخدم</label>
        <input
          class="size-large"
          nbInput
          type="text"
          placeholder="اسم المستخدم"
        />
      </div>
      <div class="controle">
        <label for="password">كلمة السر </label>
        <input
          class="size-large"
          nbInput
          type="password"
          placeholder="كلمة السر"
        />
      </div>
      <button status="danger" nbButton>تسجيل دخول</button>
    </div>
  </div>
</main>
